{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <br>

    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title">
    <br>
    <br>
    <label for="content">Content:</label>
    <br>
    <textarea name="content" id="content"></textarea>
    <br>
    <input type="submit" value="Save">

    </form>

    <ul>
        {% for entry in entries %}
            <a href="{{entry}}"><li>{{ entry }}</li></a>
        {% endfor %}
    </ul>

{% endblock %}